@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700');

html {
  font-family: 'Oswald', sans-serif;
  font-size: 62.5%;
}

* {
  color: black;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}
h2 {
  text-align: center;
  width: 100%;
  font-size: 3.6rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 2.1rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.8rem;
}

p, span {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

img, video {
  width: 100%;
}

/*adds a subtle gradient to background*/
body {
  background: linear-gradient(white, #e6eef0) fixed;
}

/*header styles*/

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}

.ident {
  height: 34px;
  display: flex;
  align-items: center;
}
.ident span {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.ident span:first-of-type {
  font-weight: 700;
}

/*nav styles*/
nav.mobile {
  display: none;
}

nav {
  font-size: 1.6rem;
}

nav.desktop span {
  margin-left: 1.6rem;
}

nav span a {
  text-decoration: none;
  transition: all 200ms ease-out;
}

nav span a:hover {
  color: #FF63AB;
}

/*sections general styles*/
section.banner .container, section.articles-module.container {
  display: flex;
}

/*Left right split*/

/*Left section*/

.left-section {
  flex: 2 1 60%;
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-section img {
  margin-bottom: 3.2rem;
}

.left-section p {
  margin: 2.4rem 0;
}

.article.left-section h2 {
  text-align: left;
}

/*right section*/

.right-section {
  flex: 1 1 40%;
  padding: 1.6rem 0 3.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right-section .article {
  border-bottom: 1px solid #e6e5e5;
  border-right: 3px solid rgba(255,99,171,0); /*Transparent border on initial state avoids glitch when hover border is applied*/
  display: flex;
  align-items: center;
  transition: border-right 300ms ease-out;
}

.right-section .article:hover {
    border-right: 3px solid rgba(255,99,171,1); /*Hover border*/
}

.right-section .article img {
  max-width: 35%;
  margin: 1.6rem;
}

/*General article styles*/

.details p, .details span {
  font-size: 1.3rem;
  margin: 3px 0;
}

.details span a {
  text-decoration: none;
  color: #FF63AB;
  transition: all 200ms ease-out;
}

.details span a:hover {
  text-decoration: underline;
}

.article video {
  margin-bottom: 2.4rem;
}

/*banner section*/
section.banner {
  background-color: #e6e5e5;
}

section.banner .right-section {
  justify-content: center;
  padding-right: 12rem;
}

section.banner .right-section p {
  margin: 2.5rem 0;
  font-size: 2rem;
}

section.banner button {
  background-color: #114F59;
  color: #fff;
  padding: 1rem;
  border: none;
  transition: all 300ms linear;
}

section.banner button:hover {
  background-color: #FF63AB;
}

/*Articles module specifics*/

.articles-module .right-section .article:last-of-type {
  background-color: #e6e5e5;
}

.articles-module .right-section {
  border-left: 1px solid #e6e5e5;
}

.articles-module .article img:nth-of-type(2n) {
  display: none;
}

.speech-bubble p {
  color: #fff;
}

/*Speech bubble effect. As the website is for education I wanted to give
the website a creative feel. I discovered the CSS for this on another
site and customised the styles for this website*/
.speech-bubble {
	position: relative;
	background-color: #114f59;
	border-radius: 1.4em;
  padding: 0 2rem;
  margin: 2rem 0;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.281em solid transparent;
	border-top-color: #114f59;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10.641em;
	margin-bottom: -1.281em;
}

/*Courses section*/

.courses {
  background-color: #e6e5e5;
  padding: 3.2rem 5.6rem 0 5.6rem;
  display: flex;
  flex-flow: wrap;
}

.courses h2 {
  margin-bottom: 3.2rem;
}

.course-item {
  flex: 1 1 250px;
  background-color: #fff;
  margin: 0 1.6rem 3.2rem 1.6rem;
  border-bottom: 5px solid rgba(255,99,171,0); /*Transparent border on initial state avoids glitch when hover border is applied*/
  transition: border-bottom 300ms ease-out;
}

.course-item:hover {
  border-bottom: 5px solid rgba(255,99,171,1); /*Hover border*/
}

.course-content {
  padding: 1.6rem 1.6rem 2.4rem;
}

.course-content h3::after { /*Automatically applies COURSE text under the heading of every course title*/
  display: block;
  content: "COURSES";
  margin: 0.8rem 0;
  font-size: 1.6rem;
  color: #dad9d9;
}

/*Thesis section*/

.thesis {
  padding: 3.2rem 0 3.2rem 2.4rem;
  display: flex;
  flex-flow: wrap;
}

.thesis .right-section .article:first-of-type {
  background-color: #e6e5e5;
}

/*Footer*/

footer {
  border-top: 1px solid #e6e5e5;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 1.6rem;
}

footer .container span {
  font-size: 1rem;
  margin-left: 2rem;
}

/*Media queries*/

@media only screen and (max-width: 800px) {

  /*Nav section*/
  nav.desktop,
  .ident {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  section.banner .container, section.articles-module.container {
    flex-direction: column;
  }

  section.banner .left-section, .left-section img {
    padding: 0;
    margin: 0;
  }

  section.banner .right-section {
    padding: 3.2rem 1.6rem;
  }

  /*articles section*/
  .right-section {
    padding: 3.2rem 1.6rem;
  }

  .articles-module .left-section {
    display: none;
  }

  .articles-module .article img:first-of-type {
    display: none;
  }

  .articles-module .article img:nth-of-type(2n) {
    display: unset;
    width: 100%;
    padding: 0;
  }

  .right-section .article {
    border-bottom: none;
    border-right: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .right-section .article:hover {
    background: none;
    border-right: none;
  }

  .article .details {
    margin: 1.6rem 1.6rem 6.4rem;
  }

  .articles-module .right-section .article:last-of-type {
    background-color: inherit;
  }

  .articles-module .right-section .article:last-of-type .details {
        margin: 1.6rem 1.6rem 0;
  }

  /*Thesis section*/

  .thesis {
    padding: 3.2rem 0 2.4rem 0;
  }

  .thesis .left-section {
        padding: 3.2rem 0 0 0;
  }

  .thesis .article h3,
  .thesis .article p {
    display: none;
  }

  .thesis .right-section {
    display: none;
  }

  /*Footer*/
  .other-links {
    display: none;
  }
}

@media only screen and (max-width: 430px) {

  /*Courses section*/

  .courses {
    background-color: inherit;
    padding: 3.2rem 1.6rem;
    border-top: 1px solid #e6e5e5;
  }

  .course-item img,
  .course-content p {
    display: none;
  }

  .course-content h3::after {
    content: "";
  }

  .course-item {
    flex: 1 1 250px;
    background-color: #fff;
    margin: 0.8rem 0;
    padding: 1.6rem 1.6rem 2.4rem;
    border-bottom: none;
    transition: none;
  }

  .course-item:hover {
    border-bottom: none;
  }

  .course-content {
    padding: 0;
  }
}
